@layer reset, theme, util;

@layer reset {
	:root {
		color-scheme: dark;
		overflow-y: scroll;
		scroll-behavior: smooth;
		scrollbar-width: thin;
		overflow-y: scroll;
		font: normal normal normal 62.5% / 1.35 system-ui;
		interpolate-size: allow-keywords;
	}

	:where(*, *::before, *::after) {
		box-sizing: border-box;
		margin: 0;
	}

	:where(input, select, textarea, button) {
		font: inherit;
	}

	:where(a) {
		text-decoration: none;
		color: currentColor;
	}

	:where(ul, ol) {
		padding-inline-start: 3rem;

		&:where([role="list"], [role="menu"]) {
			list-style: none;
			padding: 0;

			li {
				margin: 0;
			}
		}
	}

	:where(img, picture, figure, iframe, video, svg) {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
	}

	:where(img) {
		place-content: center;
		text-align: center;
	}

	:where(svg *) {
		transform-box: fill-box;
		transform-origin: center;
	}

	:where(:popover-open) {
		margin: auto;
		padding: unset;
		border: unset;
		background: unset;
	}

	@media (prefers-reduced-motion: no-preference) {
		@view-transition {
			navigation: auto;
		}
	}
}

@layer theme {
	@font-face {
		font-family: space-grotesk;
		src: url("/fonts/space-grotesk_variable-wght.woff2") format("woff2-variations");
		font-style: normal;
		font-display: fallback;
		font-weight: 300 700;
	}

	:root {
		--colorPri: oklch(0.6679 0.1214 236.3);
		--colorSuc: oklch(0.8664 0.2948 142.5);
		--colorMes: oklch(0.8442 0.1722 84.93);
		--colorErr: oklch(0.6281 0.2577 29.23);

		--canvasColor: oklch(0.22 0.0059 236.81);
		--canvasText: oklch(0.9 0 0);

		--borderWidth: 0.16rem;
		--borderStyle: Solid;
		--borderColor: oklch(from var(--canvasColor) calc(l + 0.1) c h);
		--borderRadius: 0.5rem;

		--blockColor: oklch(from var(--canvasColor) calc(l - 0.015) c h);
		--blockBorder: var(--borderWidth) var(--borderStyle) var(--borderColor);

		--buttonColor: oklch(from var(--blockColor) calc(l + 0.05) c h / 1);
		--buttonBorder: var(--borderWidth) var(--borderStyle) var(--borderColor);

		--fs-0: clamp(1.28rem, 0.17vi + 1.21rem, 1.43rem);
		--fs-1: clamp(1.6rem, 0.34vi + 1.46rem, 1.9rem);
		--fs-2: clamp(2rem, 0.61vi + 1.76rem, 2.53rem);
		--fs-3: clamp(2.5rem, 1vi + 2.1rem, 3.38rem);
		--fs-4: clamp(3.13rem, 1.56vi + 2.5rem, 4.5rem);
		--fs-5: clamp(3.91rem, 2.38vi + 2.96rem, 6rem);
		--fs-6: clamp(4.88rem, 3.54vi + 3.47rem, 8rem);

		--paddingGap: 0.45em;
	}

	body {
		--bgSize: 50px;
		--bgWidth: 2px;
		--bgGrad:
			color-mix(in oklch, var(--canvasText), transparent 98%) 0px,
			color-mix(in oklch, var(--canvasText), transparent 98%) var(--bgWidth), transparent var(--bgWidth),
			transparent var(--bgSize);
		background:
			linear-gradient(90deg, var(--bgGrad)) calc(50% - (var(--bgSize) / 2) - calc(var(--bgWidth) / 2)) 50% /
				var(--bgSize) auto fixed,
			repeating-linear-gradient(30deg, var(--bgGrad)) 50% 50% / cover fixed,
			repeating-linear-gradient(-30deg, var(--bgGrad)) 50% 50% / cover fixed,
			oklch(from var(--canvasColor) l c h);
		font:
			normal normal normal normal var(--fs-2) / 1.25 space-grotesk,
			system-ui;
		font-variation-settings: "wght" 300;
		color: var(--canvasText);
	}

	:is(h1, h2, h3, h4, h5, h6, strong) {
		font-variation-settings: "wght" 700;
	}

	:is(.button, button) {
		display: flex;
		gap: var(--paddingGap);
		padding-inline: var(--paddingGap);
		padding-block: calc(var(--paddingGap) / 1.35);
		background: var(--buttonColor);
		border: var(--buttonBorder);
		border-radius: var(--borderRadius);
		line-height: 1;
		text-align: start;
		align-items: center;

		&[class*="icon"]::before {
			font-family: "icons";
			text-wrap: nowrap;
		}

		&:hover,
		&:focus-visible {
			background: oklch(from var(--colorPri) l c h / 0.2);
			border-color: oklch(from var(--colorPri) l c h / 0.5);
		}

		&[aria-current="page"] {
			background: oklch(from var(--colorPri) l c h / 0.5);
			border-color: oklch(from var(--colorPri) l c h / 1);
		}

		@media (prefers-reduced-motion: no-preference) {
			& {
				transition:
					border-color 0.05s ease-in-out,
					background 0.15s ease-in-out;
			}
		}
	}

	section {
		inline-size: min(1400px, 95%);
		margin-inline: auto;
	}

	form {
		--paddingInline: 1.25rem;
		--paddingBlock: 0.75rem;
		background: var(--blockColor);
		padding-inline: 3rem;
		padding-block: 3rem;
		display: grid;
		gap: 3rem;
		inline-size: min(400px, 100% - 5rem);
		border-radius: var(--borderRadius);
		border: var(--blockBorder);

		:is(input, textarea, span) {
			padding-inline: var(--paddingInline);
			padding-block: var(--paddingBlock);
			font-size: var(--fs-1);

			display: block;
			border-radius: var(--borderRadius);
		}

		:is(input, textarea) {
			inline-size: 100%;
			background: oklch(from var(--blockColor) 0.175 c h);
			border: var(--buttonBorder);
			border-radius: var(--borderRadius);
			outline: unset;

			&::placeholder {
				opacity: 0;
			}

			&:not(:valid):hover,
			&:not(:valid):focus {
				border-color: oklch(from var(--colorPri) l c h / 0.5);
			}

			&:valid {
				border-color: oklch(from var(--colorSuc) l c h / 0.5);
			}

			&:user-invalid {
				border-color: oklch(from var(--colorErr) l c h / 0.5);
			}
		}

		span {
			position: absolute;
			border: 2px solid transparent;
			z-index: 1;
			opacity: 0.6;
			border-radius: var(--borderRadius);

			@media (prefers-reduced-motion: no-preference) {
				& {
					transition:
						all 0.2s 0s ease-in-out,
						background 0.2s -0.05s ease-in-out;
				}
			}

			&:has(+ :is(input, textarea):focus-visible),
			&:has(+ :is(input, textarea):not(:placeholder-shown)) {
				translate: calc(var(--paddingInline) - 0.5rem) -75%;
				font-size: 1.5rem;
				padding-inline: 0.5rem;
				padding-block: 0.1rem;
				line-height: 1;
				background: oklch(from var(--colorPri) l c h / 0.7);
				backdrop-filter: blur(5px);
				color: var(--canvasText);
				opacity: 1;

				@media (prefers-reduced-motion: no-preference) {
					& {
						transition:
							all 0.2s 0s ease-in-out,
							background 0.2s 0.05s ease-in-out;
					}
				}
			}
		}

		textarea {
			resize: vertical;
			block-size: calc(5lh + (1.15rem * 2) + (var(--borderWidth) * 2));
		}

		output {
			--color: var(--canvasText);
			padding-inline: var(--paddingInline);
			padding-block: var(--paddingBlock);
			border-radius: var(--borderRadius);
			color: var(--color);
			background: oklch(from var(--color) l c h / 0.2);
			border: var(--blockBorder);
			border-color: var(--color);
			font-size: var(--fs-0);

			&:empty {
				display: none;
			}
			&[data-status="processing"] {
				--color: var(--colorPri);
			}
			&[data-status="error"] {
				--color: var(--colorErr);
			}
			&[data-status="completed"] {
				--color: var(--colorSuc);
			}
		}

		button[type="submit"] {
			display: block;
			text-align: center;

			form:has(:invalid, [data-status="processing"], [data-status="completed"]) & {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}
}

@layer util {
	.text {
		&.s-0 {
			font-size: var(--fs-0);
		}
		&.s-1 {
			font-size: var(--fs-1);
		}
		&.s-2 {
			font-size: var(--fs-2);
		}
		&.s-3 {
			font-size: var(--fs-3);
		}
		&.s-4 {
			font-size: var(--fs-4);
		}
		&.s-5 {
			font-size: var(--fs-5);
		}
		&.s-6 {
			font-size: var(--fs-6);
		}
		&.c-pri {
			color: var(--colorPri);
		}
		&.c-suc {
			color: var(--colorSuc);
		}
		&.c-mes {
			color: var(--colorMes);
		}
		&.c-err {
			color: var(--colorErr);
		}
		&.w-bold {
			font-variation-settings: "wght" 700;
		}
		&.s-italic {
			font-style: italic;
		}
		&.a-start {
			text-align: start;
		}
		&.a-center {
			text-align: start;
		}
		&.a-end {
			text-align: end;
		}
	}
}
