---
import type { MarkdownHeading } from "astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = headings.filter((heading) => heading.depth <= 2);
---

<nav>
	<h2>Contents</h2>
	<ul role="list">
		{
			filteredHeadings.map((heading) => (
				<li>
					<a class="button icon_gnumeric-link-internal" href={`#${heading.slug}`}>
						{heading.text}
					</a>
				</li>
			))
		}
	</ul>
</nav>

<style>
	nav {
		position: sticky;
		inset: calc(1.5lh + 2.75rem) auto auto auto;
		display: grid;
		gap: 1em;
		border: var(--blockBorder);
		border-radius: var(--borderRadius);
		padding-inline: 0.75em;
		padding-block: 0.75em;
		background: oklch(from var(--blockColor) calc(l - 0.015) c h);

		ul {
			font-size: var(--fs-0);
			display: grid;
			gap: 0.75em;
			scroll-target-group: auto;

			a:target-current {
				background: oklch(from var(--colorPri) l c h / 0.5);
				border-color: oklch(from var(--colorPri) l c h / 1);
			}

			a::before {
				font-size: var(--fs-2);
			}
		}

		h2 {
			font-size: var(--fs-2);
			line-height: 1.1;
		}
	}
</style>
