<a href="/blog/welcome/">
	<span> &#40;&gt;&#39;&#46;&#39;&#41;&gt;</span>
	Read `welcome` post
	<span>&lt;&#40;&#39;&#46;&#39;&lt;&#41;</span>
</a>

<style>
	a {
		text-decoration: underline;
		text-decoration-style: solid;
		text-underline-offset: 0.2lh;
		transition: font-variation-settings 0.2s ease-in-out;

		span {
			font-size: var(--fs-0);
		}

		&:hover {
			font-variation-settings: "wght" 700;
		}
	}
</style>
