---
import Meta from "../blocks/meta.astro";
import Link from "../blocks/link.astro";
import Contact from "../blocks/contact.astro";
import Notice from "../blocks/notice.astro";
import Copyright from "../blocks/copyright.astro";

const { pathname } = Astro.url;
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Meta title={title} description={description} image={image} />
	<body>
		<label for="menu" class="icon_application-menu" aria-label="menu">
			<input type="checkbox" id="menu" />
		</label>
		<nav>
			<div class="sticky">
				<div class="profile">
					<div>SR</div>
				</div>
				<ul role="menu">
					<li role="menuitem">
						<Link class="button icon_view-institution" href=""> Home </Link>
					</li>
					<li role="menuitem">
						<Link class="button icon_help-about" href="about/"> About </Link>
					</li>
					<li role="menuitem">
						<Link class="button icon_journal-new" href="library/"> Library </Link>
					</li>
				</ul>
				<Contact />
			</div>
		</nav>
		<header>
			<Notice />
		</header>
		<main>
			<slot />
		</main>
		<footer><Copyright /></footer>
	</body>
</html>

<style>
	body {
		--timing: 0.5s;
		--easing: cubic-bezier(0.8, -0.4, 0.5, 1);
		min-block-size: 100svh;
		display: grid;
		grid:
			"nav head" 1.5lh
			"nav main" 1fr
			"nav foo" auto / minmax(0, 230px) minmax(0, 1fr);
		gap: 2rem 0rem;

		@media (width <= 900px) {
			& {
				overflow-x: clip;
				grid-template-columns: minmax(0, 0) minmax(0, 1fr);
				transition: grid-template-columns var(--timing) var(--easing);

				& > nav {
					content-visibility: hidden;
					transition-behavior: allow-discrete;
					transition-delay: 0.5s;
				}

				& > main,
				& > header,
				& > footer {
					transition: filter var(--timing) var(--easing);
					width: 100vw;
				}
			}

			&:has(> label[for="menu"] > input#menu:checked) {
				grid-template-columns: minmax(0, 230px) minmax(0, 1fr);
				transition-timing-function: ease-in-out;
				transition-duration: 0.2s;

				& > nav {
					content-visibility: visible;
					transition-delay: 0s;
				}

				& > main,
				& > header,
				& > footer {
					filter: blur(5px);
					transition-timing-function: ease-in-out;
					transition-duration: 0.2s;
				}
			}

			& > label[for="menu"] {
				display: block;
			}
		}
	}

	label[for="menu"] {
		display: none;
		position: fixed;
		inset: auto 0 0 auto;
		font-family: icons;
		z-index: 1;

		& > input#menu {
			position: fixed;
			width: 0;
			height: 0;
			opacity: 0;
		}

		&::before {
			display: block;
			padding: var(--paddingGap);
			background: var(--buttonColor);
			border: var(--buttonBorder);
			border-radius: var(--borderRadius);
			font-size: 3.5rem;
			line-height: 1;
			translate: -2rem -2rem;
			backdrop-filter: blur(5px);
		}

		&:hover::before,
		&:focus-within::before {
			background: oklch(from var(--colorPri) l c h / 0.5);
			border-color: oklch(from var(--colorPri) l c h / 1);
		}

		&:has(> input#menu:checked)::before {
			background: oklch(from var(--colorPri) l c h / 0.8);
			border-color: oklch(from var(--colorPri) l c h / 1);
		}

		&:has(> input#menu:checked):focus::before {
			background: oklch(from var(--colorPri) l c h / 0.2);
			border-color: oklch(from var(--colorPri) l c h / 0.5);
		}

		&::after {
			display: none;
			content: "";
			position: fixed;
			inset: auto 0 0 auto;
			inline-size: 100vw;
			block-size: 100vh;
			z-index: -1;
		}

		&:has(> input#menu:checked)::after {
			display: block;
		}
	}

	nav {
		--paddingInline: 3rem;
		--fontSize: 2.5rem;
		grid-area: nav;
		position: relative;
		z-index: 1;
		isolation: isolate;
		background: var(--blockColor);
		border-inline-end: var(--blockBorder);

		.sticky {
			position: sticky;
			inset: 0 0 auto auto;
			height: 100dvh;
			overflow: clip auto;
			display: grid;
			grid: auto 1fr auto / auto;
			place-content: start;
			gap: 3rem;
			padding-block: 3rem;
		}

		.profile {
			padding-inline: var(--paddingInline);
			inline-size: 230px;

			& > :is(img, div) {
				inline-size: 100%;
				aspect-ratio: 1;
				object-fit: cover;
				background: oklch(from #02b787 l c h / 0.3);
				border-radius: 50%;
				border: solid 0.15rem oklch(from #02b787 l c h / 1);
				color: oklch(from #02b787 l c h / 1);
				font-size: 10rem;
				text-align: center;
				align-content: center;
			}
		}

		ul {
			padding-inline: var(--paddingInline);
			display: flex;
			flex-flow: column nowrap;
			gap: 1.5rem;
			align-items: stretch;
			font-size: var(--fontSize);
		}
	}

	header {
		background: var(--blockColor);
		border-block-end: var(--blockBorder);
		padding-inline: 1em;
		padding-block: 0.5em;
		font-size: var(--fs-1);
		text-align: center;
		position: sticky;
		inset: 0 auto auto auto;
		translate: 0 -3px;
		z-index: 1;
		align-content: center;
	}

	main {
		grid-area: main;
	}

	footer {
		grid-area: foo;
		background: var(--blockColor);
		border: var(--blockBorder);
		border-inline: unset;
		border-block-end: unset;
		padding-inline: 1em;
		padding-block: 0.5em;
		font-size: var(--fs-1);
		text-align: center;
	}
</style>
